/*
################################################################################
# Synclair                                                                     #
# Copyright (C) 2011-2022 MorsMortium                                          #
#                                                                              #
# This program is free software: you can redistribute it and/or modify         #
# it under the terms of the GNU General Public License as published by         #
# the Free Software Foundation, either version 3 of the License, or            #
# (at your option) any later version.                                          #
#                                                                              #
# This program is distributed in the hope that it will be useful,              #
# but WITHOUT ANY WARRANTY; without even the implied warranty of               #
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                #
# GNU General Public License for more details.                                 #
#                                                                              #
# You should have received a copy of the GNU General Public License            #
# along with this program.  If not, see <http://www.gnu.org/licenses/>.        #
################################################################################
*/

*{
  box-sizing: border-box;
  background-color: White;
}
textarea {
  width: 100%;
  height: calc(100vh - 60px);
  border-radius: 5px;
  padding: 10px;
}
button {
  height: 40px;
  width: 100%;
  text-align: left;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}
button:hover {
  background-color: LightGray;
}
